
body {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-weight: 500;
}

.lead{
  font-weight: 400;
}

.navbar-transparent .navbar-nav>.active>a,
.navbar-transparent .navbar-nav>.active>a:focus,
.navbar-transparent .navbar-nav>.active>a:hover,
.navbar-transparent .navbar-nav>li>a:focus,
.navbar-transparent .navbar-nav>li>a:hover {
    text-decoration: underline;
}


/*Theme overrides*/
@media (min-width: 992px){
  .gl {
      width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .block {
     padding: 120px 0;
  }
  .block-short {
     padding: 70px 0 !important;
  }

  .block-x-short {
     padding: 50px 0 !important;
  }
}

.block-fill-height {
  height: 98vh;
}

.block-fill-height-70{
  height: 70vh;
}

.block-fill-height-80{
  height: 80vh;
}

.block-fill-height-90{
  height: 90vh;
}

.app-navbar-purple {
  background-color: #813296;
}

.app-ribbon {
  background-color: #813296;
}


.app-header {
  background-color: #813296;
}

.table td {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pull-quote img{
  width: 100px;
  height: 100px;
}

@media (min-width: 1200px){
  .container-larger {
    width: 1250px;
  }

  .container-xx-larger{
    width: 100%;
    max-width: 1400px;
  }

}

.app-footer {
  max-height: 300px;
}

.panel-body{
  min-height: 250px;
}

.panel-footer{
  min-height: 53px;
}

.panel{
  border: 1px solid #eee;
}

.icon-25em{
  font-size: 2.5em;
}

.text-underline{
  text-decoration: underline;
}

.text-bold{
  font-weight: bold;
}

.steps {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.step-active{
  background-color: #fff;
}

.step{
  padding: 10px;
  border-right: 1px solid #ddd;
}

.step-last{
  border-right: none;
}

.form-control-feedback-left{
  left: 0 !important;
}

.static-popover {
  display: block !important;
  position: relative;
  float: left;
}

.show-popover{
  display: block !important;
}

.dashed-border-bottom{
  border-bottom: 1px dashed #dad;
}

.no-hover:hover,
.no-hover:hover span{
  text-decoration: none!important;
  background-color: inherit!important;
}

.hover-dashed-solid:hover div{
  border-bottom: 1px solid #dad;
}

.shepherd-element.shepherd-theme-default .shepherd-content footer .shepherd-buttons li .shepherd-button.shepherd-button-secondary
{
  font-size: 0.6em;
  /* margin-top: 7px; */
  background-color: transparent!important;
  /* margin-left: -14px; */
  color: #eee;
}

.shepherd-element.shepherd-theme-default .shepherd-content footer .shepherd-buttons
{
  text-align: left!important;
}
