body {
  font-size: 16px;
  font-weight: 400;
}

/*
 * Global add-ons
 */

 .shadow-wrapper {
     border-radius: 6px;
     overflow: hidden;
     /*padding: 6px;*/
     /*background: #fff;*/
     box-shadow: 0 3px 20px rgba(77,63,122,0.4);
 }

.comment-wrapper{
    border-radius: 6px;
    box-shadow: none!important;
    border: 1px solid #eee;
}

 .detailBox {
     width:100%;
     /*border :1px solid #bbb;*/
     border-radius: 6px;
     /*background-color:#fdfdfd;*/
 }
 .titleBox {
     background-color: #fafafa;
     padding:10px;
     border-top-right-radius: 6px;
     border-top-left-radius: 6px;
 }

 .titleBox form{
   margin-bottom: 5px;
 }

 .titleBox label{
   color:#444;
   margin:0;
   display:inline-block;
 }

 .commentBox {
     padding:10px;
     border-top:1px dotted #bbb;
 }
 .actionBox .form-group:first-child {
     width:80%;
 }

 .actionBox .form-group:nth-child(2) {
     width:18%;
 }

 .actionBox .form-group * {
     width:100%;
 }

 .taskDescription {
     margin-top:10px 0;
 }

 .commentList {
     padding:0;
     list-style:none;
     max-height:200px;
     /*overflow:auto;*/
 }

 .commentList li {
     margin:0;
     margin-top:10px;
 }

 .commentList li > div {
     display:table-cell;
 }

 .commenterImage {
     width:30px;
     margin-right:5px;
     height:100%;
     float:left;
 }

 .commenterImage img {
     width:100%;
     border-radius:50%;
 }

 .comment img {
     width:100%;
 }

 .commentText p {
     margin:0;
 }

 .resultBox{
   max-width: 100%;
   overflow-x: hidden;
 }

 .resultBox-inverse{
   background-color:#fdfdfd;
   color: #6c6f73;
 }

 .resultBox {
     padding:10px;
     border-top:1px dotted #bbb;
 }

 .sub-text {
     color:#aaa;
     font-family:verdana;
     font-size:11px;
 }

 .actionBox {
     border-top:1px dotted #bbb;
     padding:10px;
 }


.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-static-top {
  /*border-bottom: 1px solid #eee;*/
  z-index: 0;
  max-height: 50px;
}

.navbar-toggle .icon-bar {
  background-color: #222;
}

.navbar-toggle {
  border: 1px solid #222;
}

.navbar-toggle:hover,
.navbar-toggle:active{
  background-color: #eee;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
  border:1px solid transparent;
  border-bottom: 1px solid #dddddd;
}

.FileContainer .nav-tabs > li.active > a,
.FileContainer .nav-tabs > li.active > a:hover,
.FileContainer .nav-tabs > li.active > a:focus{
  border-bottom: none;
}

.FileContainer > .row > .m-r{
  margin-right: 3px!important;
}

.nav-tabs > li{
  margin-top: 5px;
}

.nav-tabs > li{
  border-right: 1px solid #dddddd;
}

.nav-tabs > li:last-child{
  border-right: 1px solid transparent;
}

.nav-tabs > li > a:focus,
.nav-tabs > li > a:active,
.nav-tabs > li > a:visited{
  outline: none!important;
}

/*
 * Main
 */

.table > thead > tr > th {
  border-bottom: none;
}

.table > tbody > tr > td {
  border-top: none;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  font-size: 16px;
}

.main-container{
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.sidebar > a:focus,
.sidebar > a:hover{
  text-decoration: none!important;
}

@media (min-width: 768px) {

  .main-container{
    padding-left: 60px !important;
    padding-right: 60px !important;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    overflow-y: auto;
    padding-right: 4px;
    border-right: 4px solid #eee;
    background-color: #9C27B0;
    color: white;
  }

  .sidebar-blue{
    background-color: #2196F3;
  }

  .sidebar-green{
    background-color: #4CAF50;
  }

  .sidebar-red{
    background-color: #F44336;
  }

  .sidebar a{
    color: white;
  }

  .sidebar a span{
    vertical-align: middle;
  }

  .sidebar .nav i{
    font-size: 1em;
  }

  .sidebar > .nav > li > a{
    padding: 8px 15px;
  }

  a.brand-link{
    font-size: 2em;
    padding: 8px 15px;
  }



  .logo-beta {
      font-size: 0.4em;
      font-style: italic;
      margin-top: 22px;
      position: fixed;
      margin-left: -5px;
  }

}

.tooltip{
  position: fixed!important;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.sidebar .nav-sidebar > li > a:hover,
.sidebar .nav-sidebar > li > a:focus{
  background-color: #813296;
  text-decoration: none;
}


.sidebar .nav-sidebar > li > a:hover span,
.sidebar .nav-sidebar > li > a:focus span {
  text-decoration: underline;
}

.sidebar-inverse{
  background-color: white;
}

.sidebar-inverse a{
  color: #813296;
}

.sidebar-inverse .nav > li > a:hover,
.sidebar-inverse .nav > li > a:focus{
  background-color: white;
}


.nav i{
  font-size: 1.3em;
}



/*
 * Main content
 */

.main {
  padding: 0px 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}



/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.project .navbar{
  border-bottom: 1px solid #eee;
}

.breadcrumbs{
  background-color: white;
}
.breadcrumb {
  background-color: white;
  padding-left: 0px;
}

.droppable{
  border: 8px solid blue;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1111;
  left: 0;
  right: 0;
}

.droppable-text{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 10px;
  z-index: 1111;
  margin-top: 5px;
  font-size: 1.5em;
  border: 3px solid blue;
}

@media (max-width: 978px) {
    .form .col-sm-6 {
      padding:0;
      margin:0;
      margin-bottom: 5px;
    }

}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  width: 13px;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 33px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}

@media (min-width: 768px){
  .form-inline .form-control {
    padding-right: 3px;
    width: 100%;
  }
  .form-inline .btn {
    margin-right: 3px;
  }

}

.renderer{
  color: #333;
  font-size: 1.2em;
}

.renderer img{
  display: block;
  margin: 0 auto;
}

.icon-major{
  font-size: 1.4em;
}

.icon-minor{
  position: absolute;
  margin-left: 13px;
  margin-top: -4px;
}

.CollectionsNavbar a{
  color: #666;
}

.CollectionsNavbar a span {
    margin-left: 8px;
}

img.loading{
  background-color: red;
  width: 100%;
  min-height: auto;
}

.notification{
  position: absolute;
  z-index: 999;
  left: 20%;
  right: 20%;
  top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.refreshButton{
  margin-top: 3px;
  border-right: 1px solid #fafafa;
  padding-right: 5px;
  text-align: left;
  margin-left: -8px;
  margin-right: 15px;
}

.spinner{
  position: relative;
  left: 45%;
  top: 75px;
}

.no-script{
  position: absolute;
  background-color: white;
  text-align: center;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.invite-cancel{
  position: relative;
  float: right;
  right: -35px;
  top: -35px;
}


.link-box{
  background-color: #ab9ba9;
  opacity: 0.3;
  height: 15px;
  margin-top: 22px;
  margin-left: 3px;
  border-radius: 2px;
  overflow: hidden;
}

.link-box1{
  width: 147px;
}
.link-box2{
  width: 100px;
}
.link-box3{
  width: 120px;
}
.link-box4{
  width: 110px;
}

.link-btn{
  background-color: #ab9ba9;
  opacity: 0.3;
  height: 35px;
  margin-top: 22px;
  margin-left: 15px;
  border-radius: 4px;
  overflow: hidden;
}

.link-btn1{
  width: 40px;
}

.link-btn2{
  width: 30px;
}

.link-btn3{
  width: 50px;
}

.tour{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 999;
}

.example-enter {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.header{
  background-color: #813296;
  width: 100%;
  margin: 0;
  color: #fafafa;
  padding: 20px;
  padding-bottom: 15px;
}
